.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

.pitch-image{
  text-align:center;
}
.pitch-image img{
  border-radius:50%;
}

.pitch-content{
  text-align:left;
}